<div class="container">
  <div *ngIf="!dataReceived; else displayContent">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <ng-template #displayContent>
    <h1 class="mt-4">Delete Client</h1>
    <div *ngIf="!responseMsg; else displayResponseMsg">
      <h5 class="mt-4">You are about to delete the client {{companyName}}.  Are you sure?</h5>
      <div class="mt-4">
        <button [routerLink]="'/clients'" class="btn btn-secondary">Cancel</button>
        <button (click)="delete()" class="btn btn-danger ml-4">Delete</button>
      </div>
    </div>
    <ng-template #displayResponseMsg>
      <h5 class="mt-4" [ngClass]="success ? 'text-success' : 'text-danger'">{{responseMsg}}</h5>
    </ng-template>
  </ng-template>
</div>


