<div class="home-wrapper">
  <h1 class="title">Welcome to the CRUD Demo App</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm mt-5" (click)="navToPeople()">
        <div class="btn icon">
          <img src="assets/img/person.jpg" alt="People">
          <div class="text-center">People</div>
        </div>
      </div>
      <div class="col-sm mt-5" (click)="navToClients()">
        <div class="btn icon">
          <img src="assets/img/client.jpg" alt="Clients">
          <div class="text-center">Clients</div>
        </div>
      </div>
    </div>
  </div>
</div>

